@model HomeViewModel


@{ ViewData["Title"] = "Index"; }


<!-- Portfolio Section -->
<section class="page-section portfolio" href="/PortfolioItems/Create">
    <div class="container">

        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Welcome</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Portfolio Grid Items -->
        <div class="row">

            <!-- Portfolio Item 1 -->
            @foreach (var portfolioItem in Model.PortfolioItems)
            {
<div class="col-md-6 col-lg-4">
    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#item-@portfolioItem.Id">
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
            </div>
        </div>
        <img class="img-fluid" src="~/img/portfolio/@portfolioItem.ImageUrl" alt="">
    </div>
</div>            }

        </div>
        <!-- /.row -->

    </div>
</section>

<!-- About Section -->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- About Section Content -->
        <div class="row">
            <div class="col-lg-4 ml-auto" style="margin:auto">
                <p class="lead">Our App is a plateform where both Parents and Kindergarten managers can create an account, add garden for managers and search for a garden to put in their children for parents. Also our plateform welcomes all visitors </p>
            </div>
        </div>

    </div>
</section>




<!-- Portfolio Modals -->
<!-- Portfolio Modal 1 -->
@foreach (var item in Model.PortfolioItems)
{
<div class="portfolio-modal modal fade" id="item-@item.Id" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <i class="fas fa-times"></i>
                </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">

                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="~/img/portfolio/@item.ImageUrl" alt="">
                            <!-- Portfolio Modal - Text -->
                            <p class="mb-5">@item.Description</p>

                            <div class="text-center mt-4">
                                <a href="/PortfolioItems/Details/@item.Id">
                                    <i class="fas fa-eye"></i>|
                                    <u class="fas fa-2x"></u>
                                    Plus de détaille
                                </a>
                            </div>
                            <br />
                            <div>
                                <a asp-controller="PortfolioItems" asp-action="Subscribe" class="btn btn-dark"style="background-color:deepskyblue" asp-route-id="@item.Id">Subscribe</a>
                                <button class="btn btn-primary" href="#" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>}


